@model EMPLOYEEMANAGEMENT.Models.Employee

<h2>Edit Employee</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="EmailId" />
    </div>

    <div>
        <label>Address</label>
        <input asp-for="Address" />
    </div>

    <div>
        <label>Mobile</label>
        <input asp-for="MobileNo" />
    </div>

    <button type="submit">Update</button>
</form>
